* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Hind Madurai', sans-serif;
}

.wrapper {
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hero {
    background: rgb(254, 241, 255);
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}

.logo {
    width: 53px;
    height: 42px;
}

.logo__pic {}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}

.nav__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #150101;
    text-decoration: none;

}

.btn {
    padding: 15px 36px;
    border: 5px;
    font-size: 16px;
    color: #ffffff;
    background: #D23166;
    font-weight: 500;
    line-height: 1.18;
    height: 49px;
    width: 165px;
}

.btn2 {
    margin-top: 55px;
}

.content {
    max-width: 100%;
    display: flex;
    align-items: center;
}

.content__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 42px;
    width: 58%;
}

.content__headline {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
}

.title {}

.content__title {
    font-family: 'Fredoka One', cursive;
}

.title__element {
    color: #D23166;

}

.content__text {}

.btn {
    border-radius: 5px;
}

.content__decor {
    width: 50%;
    position: relative;
    z-index: 10;
}

.content__decor::after {
    content: "";
    z-index: -10;
    width: 365px;
    height: 353px;
    background: rgb(255, 203, 231);
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.content__decor::before {
    content: "";
    background-image: url(../img/content/глазурь.png);
    display: block;
    position: absolute;
    background-position: center;
    height: 75%;
    width: 100%;
    background-size: 144%;
    background-repeat: no-repeat;
    bottom: -68px;
}

.food {
    padding: 98px 252px;
    background: rgba(250, 250, 250, 0.856);
}

.container {}

.food__list {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

.food__item {
    background: rgba(255, 255, 255, 1);
    padding: 33px 26px 27px 26px;
    border-radius: 7px;

}

.dish {
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

.dish__img-wrap {
    height: 45px;
    width: 100%;
    overflow: hidden;
}

.dish__img {
    object-fit: cover;
    text-align: center;

}

.dish__desc {
    padding: 39px;
    text-align: center;
}

.dish__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.dish__text {}

.paragraph {
    font-family: Hind Madurai;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

.order {
    padding: 73px 0px 85px;
    background: rgba(248, 237, 240, 1);
}

.order__contant {
    display: flex;
    align-items: center;
}

.order__column {
    width: 50%;
}

.order__img-wrap {}

.order__pic {}

.order__info {
    max-width: 371px;
    margin-left: 98px;
}

.order__title {
    font-size: 44.2px;
    font-weight: 500;
    line-height: 52px;
    margin-bottom: 24px;
}

.order__text {
    margin-bottom: 13px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(21, 1, 1, 1);

}

.btn {}

.feedback__slider {
    max-width: 256px;
}

.avatars-slider {
    padding: 0px 38px;
    position: relative;

}

.avatars-slider__ctlrs {
    position: absolute;
    display: flex;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0px, -50%);
    justify-content: space-between;

}

.avatars-slider__ctrl_direction_prew {
    transform: scale(-1, 1);
}

.avatars-slider__icon {}

.avatars-slider__ctrl_direction_next {}

.avatars-slider__list {
    display: flex;
}

.avatars-slider__item {}

.avatar {}

.avatar__img {}

.active {}



.market__ice-cream {}

.container {}

.market__header {
    text-align: center;
}

.market {}

.nav {
    text-align: center;
}

.nav__list {}

.market__list {}

.nav__item {}

.nav__link {}

.market__info {}

.market__info-1 {}

.market__flex {}

.market__img {}

.market__ice-img {}

.mrk {}

.market__headline {}

.market__desc {}

.mrk-price {}

.market__price {}

.market__price-delete {}

.btn {}